*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 29, 29);
    color: white;
    height: 100%;
    width: 100%;
}

.banner{
    overflow: hidden;
    background-color: rgb(43, 43, 70);
    /* color: whitesmoke; */
    border-left: 6px solid white;
    border-right: 6px solid white;
}

.logo{
    float: left;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 45px;
    padding: 0px 60px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 4px;
}
.contact{
    float: right;
    margin: 5px;
    background-color: crimson;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.logo:hover{
    background: rgb(83, 47, 47);
}
.contact:hover{
    cursor: pointer;
    background: cornflowerblue;
}

.card-header{
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: x-large; */
    font-size: 3em;
    padding: 20px;
    border-bottom: 4px solid rgb(219, 186, 186);
}
#booth{
    /* margin:3% 20%; */
    border: 3px ridge royalblue;
    background-color: #ccc;
    /* width: 60%;
    height: 50%; */
    height: 530px;
    text-align: center;
}
.function-keys{
    float: right;
}
.bttn-start{
    color: white;
    background-color: rgb(22, 175, 22);
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 15px;
    border: 3px solid seashell;
}
.bttn-stop{
    color: white;
    background-color: crimson;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 15px;
    border: 3px solid seashell;
}
