*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #B429C1;
    color: white;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headerCont{
    padding: 2em;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
#hdone{
    color: white;
    font-weight: bold;
}
#section2{
    height:100vh;
}
.butt{
    height: 75%;
    width: 20%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 15px;
    border: 1px solid seashell;
    border-radius: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ff004e;
    color: white;
    font-weight: bold;

}

.butt:hover{
    background: #CE6D8B;
}

#containerBd{
    text-align: center;
    background-color: #ffb6cd;
    height: 100vh;
    text-decoration: none;
    
}
#butt3{
    margin-top: 10rem;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    background-color: #C42348;
}
#butt3:hover {
    cursor: pointer;
    background: #CE6D8B;
}
#containerIn{
    font-size: 20px;
    height: 50vh;
}

.banner{
    overflow: hidden;
    background-color: #dff8eb;
    /* color: whitesmoke; */
    border-left: 6px ;
    border-right: 6px ;
    padding: 10px;;
    
}

.logo{
    float: left;
    background-color: #36827f;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 45px;
    padding: 0px 60px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px;
}
.contact{
    float: right;
    margin: 5px;
    background-color: #119da4;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.logo:hover{
    background: rgb(83, 47, 47);
}
.contact:hover{
    cursor: pointer;
    background: cornflowerblue;
}

.card-header{
    /* text-align: center; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: x-large; */
    font-size: 3em;
    padding: 20px;
    border-bottom: 4px solid rgb(219, 186, 186);
}
#booth{
    /* margin:3% 20%; */
    border: 3px ridge royalblue;
    background-color: #ccc;
    /* width: 60%;
    height: 50%; */
    height: 530px;
    text-align: center;
}
#msg{
    font-size:50px;
    color: red;
}
.function-keys{
    float: right;
}
.bttn-start{
    color: white;
    background-color: rgb(22, 175, 22);
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 15px;
    border: 3px solid seashell;
}
.bttn-stop{
    color: white;
    background-color: #36827f;
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 15px;
    border: 3px solid seashell;
}
.card-body{
    background-color: #0A3200;
}
