<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Fitness Classes, Software Development">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home 1</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Home-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.9.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|Archivo+Narrow:400,400i,500,500i,600,600i,700,700i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Narrow:400,400i,500,500i,600,600i,700,700i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home 1">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode">
    <section class="u-align-left u-clearfix u-image u-valign-middle-sm u-valign-middle-xs u-section-1" id="sec-e104">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-28-xl u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xs u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-custom-font u-text u-text-palette-2-base u-text-1">Dr. fit</h1>
                  <h5 class="u-text u-text-2">Changing Lives, Right Here</h5>
                  <a href="#" class="u-active-black u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-oswald u-hover-black u-palette-2-base u-radius-0 u-btn-1">read more</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xs u-size-32-xl u-image-1">
                <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-2" id="carousel_796a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-palette-2-light-3 u-spacing-21 u-text-palette-2-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-bccf"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-bccf"><g><path d="m285 320h-40v-12.687c32.733-17.801 55-52.505 55-92.313v-80c0-57.897-47.103-105-105-105-16.808 0-32.703 3.977-46.804 11.028-6.198-23.582-27.696-41.028-53.196-41.028-30.327 0-55 24.673-55 55v100c0 13.785-11.215 25-25 25-8.284 0-15 6.716-15 15 0 41.355 33.645 75 75 75 9.535 0 18.838-1.801 27.548-5.264 9.709 17.976 24.507 32.818 42.452 42.577v12.687h-40c-52.383 0-95 42.617-95 95v82c0 8.284 6.716 15 15 15h340c8.284 0 15-6.716 15-15v-82c0-52.383-42.617-95-95-95zm-15-160h-150v-25c0-1.682.076-3.345.185-5h149.629c.11 1.655.185 3.318.185 5v25zm-8.696-60h-132.608c12.596-23.766 37.584-40 66.304-40s53.708 16.234 66.304 40zm-186.304 140c-20.515 0-37.867-13.799-43.264-32.603 22.17-7.097 38.264-27.903 38.264-52.397v-100c0-13.785 11.215-25 25-25s25 11.215 25 25v6.596c-18.546 18.946-30 44.86-30 73.404v80c0 7.383.77 14.589 2.227 21.546-5.43 2.272-11.255 3.454-17.227 3.454zm45-25v-25h150v25c0 41.355-33.645 75-75 75s-75-33.645-75-75zm75 105c6.838 0 13.523-.665 20-1.919v36.919c0 11.028-8.972 20-20 20s-20-8.972-20-20v-36.919c6.477 1.254 13.162 1.919 20 1.919zm0 85c27.57 0 50-22.43 50-50v-5h25v8.944c0 25.001 6.901 49.26 20 70.453v52.603h-190v-52.603c13.099-21.193 20-45.452 20-70.453v-8.944h25v5c0 27.57 22.43 50 50 50zm-155 10c0-30.677 21.37-56.442 50-63.234v7.178c0 20.616-6.045 40.581-17.48 57.735-1.643 2.465-2.52 5.36-2.52 8.321v57h-30zm310 67h-30v-57c0-2.961-.877-5.856-2.52-8.32-11.435-17.155-17.48-37.119-17.48-57.736v-7.178c28.63 6.792 50 32.556 50 63.234z"></path><path d="m497 100c8.284 0 15-6.716 15-15v-70c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v70c0 8.284 6.716 15 15 15h45v90h-45c-8.284 0-15 6.716-15 15v70c0 8.284 6.716 15 15 15h120c8.284 0 15-6.716 15-15v-70c0-8.284-6.716-15-15-15h-45v-90zm-15 160h-90v-40h90zm-90-230h90v40h-90z"></path>
</g></svg></span>
                <h5 class="u-text u-text-1">Shoulder Exercise</h5>
                <p class="u-text u-text-2">Our shoulder exercise trainer lets you assist the exercise and keep counts of the amount of reps</p>
                <a href="https://nicepage.com/landing-page" class="u-active-palette-2-base u-border-1 u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-black u-text-hover-white u-btn-1">Go to exercise</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-palette-2-light-3 u-spacing-21 u-text-palette-2-base u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.016 512.016" style=""><use xlink:href="#svg-094d"></use></svg><svg class="u-svg-content" viewBox="0 0 512.016 512.016" x="0px" y="0px" id="svg-094d" style="enable-background:new 0 0 512.016 512.016;"><g><g><path d="M402.715,244.765c-27.938-64.92-54.314-126.249-7.125-226.496c3.004-6.4,0.265-14.029-6.135-17.041    s-14.029-0.247-17.041,6.135c-52.078,110.675-22.161,180.238,6.775,247.522c1.237,2.867,2.449,5.726,3.678,8.593    c-21.913,16.879-68.829,30.933-126.863,30.933c-58.077,0-104.95-14.071-126.846-30.967c1.22-2.85,2.432-5.692,3.661-8.559    c28.936-67.284,58.845-136.847,6.775-247.522c-3.021-6.391-10.641-9.165-17.041-6.135c-6.4,3.012-9.139,10.641-6.135,17.041    c47.189,100.248,20.813,161.576-7.108,226.496c-30.276,70.407-61.584,143.213,7.663,260.936c2.389,4.062,6.664,6.315,11.05,6.315    c2.202,0,4.437-0.563,6.477-1.766c6.101-3.584,8.124-11.435,4.548-17.527c-39.287-66.798-43.161-116.777-33.433-161.405    c73.94,20.693,127.179,92.773,137.598,107.834v60.057c0,7.074,5.726,12.8,12.8,12.8s12.8-5.726,12.8-12.8v-60.082    c10.794-15.582,63.845-87.277,137.581-107.877c9.736,44.654,5.888,94.642-33.416,161.474c-3.575,6.084-1.553,13.935,4.548,17.527    c2.039,1.203,4.275,1.766,6.477,1.766c4.386,0,8.661-2.253,11.05-6.315C464.299,387.978,432.991,315.181,402.715,244.765z     M256.004,413.194c-21.29-28.066-72.984-86.919-143.597-106.571c2.074-6.34,4.378-12.604,6.792-18.841    c29.474,19.72,78.625,32.23,136.813,32.23c58.12,0,107.339-12.441,136.855-32.11c2.398,6.195,4.685,12.424,6.741,18.722    C328.988,326.274,277.294,385.128,256.004,413.194z"></path>
</g>
</g><g><g><circle cx="255.995" cy="230.404" r="12.8"></circle>
</g>
</g><g><g><path d="M111.452,144.569l-38.399-38.399c-5-5-13.098-5-18.099,0c-5,5-5,13.098,0,18.099l16.546,16.546H12.808    c-7.074,0-12.8,5.726-12.8,12.8c0,7.074,5.726,12.8,12.8,12.8h58.7l-16.554,16.554c-5,5-5,13.098,0,18.099    c2.5,2.5,5.777,3.746,9.054,3.746c3.277,0,6.553-1.246,9.054-3.746l38.399-38.399    C116.452,157.667,116.452,149.569,111.452,144.569z"></path>
</g>
</g><g><g><path d="M499.2,140.814h-58.7l16.546-16.546c5-5,5-13.098,0-18.099c-5-5-13.098-5-18.099,0l-38.399,38.399c-5,5-5,13.098,0,18.099    l38.399,38.399c2.5,2.5,5.777,3.746,9.054,3.746c3.277,0,6.554-1.246,9.054-3.746c5-5,5-13.098,0-18.099l-16.546-16.546h58.7    c7.074,0,12.8-5.726,12.8-12.8S506.274,140.814,499.2,140.814z"></path>
</g>
</g></svg></span>
                <h5 class="u-text u-text-3">Wall Sit</h5>
                <p class="u-text u-text-4">Wall sit exercise assist your exercise by guiding you to perform better and as well as track the time.</p>
                <a href="https://nicepage.com/website-templates" class="u-active-palette-2-base u-border-1 u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-black u-text-hover-white u-btn-2">go to exercise</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-icon u-icon-circle u-palette-2-light-3 u-spacing-21 u-text-palette-2-base u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xlink:href="#svg-fb95"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-fb95"><g><path d="m497 151h-45v-15c0-8.284-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15v75h-212v-75c0-8.284-6.716-15-15-15h-60c-8.284 0-15 6.716-15 15v15h-45c-8.284 0-15 6.716-15 15v180c0 8.284 6.716 15 15 15h45v15c0 8.284 6.716 15 15 15h60c8.284 0 15-6.716 15-15v-75h212v75c0 8.284 6.716 15 15 15h60c8.284 0 15-6.716 15-15v-15h45c8.284 0 15-6.716 15-15v-180c0-8.284-6.716-15-15-15zm-195 90v30h-92v-30zm-272 90v-150h30v150zm90 30h-30v-210h30zm30-120h30v30h-30zm182 30v-30h30v30zm90 90h-30v-210h30zm60-30h-30v-150h30z"></path>
</g></svg></span>
                <h5 class="u-text u-text-5">Muscle Up</h5>
                <p class="u-text u-text-6">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                <a href="https://nicepage.com" class="u-active-palette-2-base u-border-1 u-border-palette-2-base u-btn u-button-style u-hover-palette-2-base u-none u-text-black u-text-hover-white u-btn-3">go to exercise</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c802"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Free Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/static-site-generator" target="_blank">
        <span>Static Website Generator</span>
      </a>. 
    </section>
  </body>
</html>