<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/physio.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>  
    <div id="containerBd">
        <div id="headerCont">
            <h1 id="hdone">Dr. FIT</h1>
        </div>
        <div id="containerIn">
            <button class="butt" onclick="location.href='/physio-shoulder1'" type="button">
                Shoulder Exercise - 1</button>
            <button class="butt" onclick="location.href='/physio-squat'" type="button">
                Squat Exercise - 2</button>    
        </div>
        <button id="butt3" onclick="location.href='#section2'" type="button">
            More Info</button>
    
    </div>
    <div id="section2">
        dfjikvndfogdf
    </div>
    
    
    <br>
    <br>
    
    
</body>
</html>